<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!--<link rel="stylesheet/less" type="text/css" href="main.less" />-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <h2>Add Supplier</h2>
        <form class="add-new-suppliaer-form">
            <div class="form-group">
                <label for="company-name">Company Name</label>
                <input type="text" class="form-control" id="company-name">
                <label for="company-city">City</label>
                <input type="text" class="form-control" id="company-city">
                <label for="company-street">Street</label>
                <input type="text" class="form-control" id="company-street">
                <label for="company-house-num">House Number</label>
                <input type="text" class="form-control" id="company-house-num">
                <label for="company-zip">Zip Code</label>
                <input type="text" class="form-control" id="company-zip">
            </div>
            <div class="btn btn-primary" id="new-supplier">Add New Supplier</div>
        </form>
    </div>
    <div class="row">
        <h2>Create Product</h2>
        <form class="add-new-product-form">
            <div class="form-group">
                <label for="supplier-company-name">Supplier Company Name</label>
                <select class="form-control" id="supplier-company-name">

                </select>
                <label for="product-name">Product Name</label>
                <input type="text" class="form-control" id="product-name">
                <label for="product-purchase-price">Product Purchase Price</label>
                <input type="text" class="form-control" id="product-purchase-price">
                <label for="product-sale-price">Product Sale Price</label>
                <input type="text" class="form-control" id="product-sale-price">
                <label for="product-guarantee">Product Guarantee Period</label>
                <input type="text" class="form-control" id="product-guarantee">
                <label for="product-screen">Product Screen Diagonal</label>
                <input type="text" class="form-control" id="product-screen">
                <label for="product-cpu">Product CPU</label>
                <input type="text" class="form-control" id="product-cpu">
                <label for="product-battery">Product Battery m/h</label>
                <input type="text" class="form-control" id="product-battery">
                <label for="product-type">Product Type</label>
                <input type="text" class="form-control" id="product-type">
            </div>
            <div class="btn btn-primary" id="new-product">Add New Product</div>
        </form>
    </div>
    <div class="btn btn-primary" id="conf">confirmed</div>
    <div class="btn btn-primary" id="unconf">unconfirmed</div>
    <h2 id="list-name"></h2>
    <div class="row" id="order-list">
    </div>
</div>
<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!--Own JavaScript -->
<script type="text/javascript" src="assets/js/admin.js"></script>
</body>
</html>