<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!--<link rel="stylesheet/less" type="text/css" href="main.less" />-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <h2>Products List</h2>
        <form class="products-list">
            <div class="product-one-item">
                <h4 class="product-name">iphone</h4>
                <h4 class="product-model">x</h4>
                <h4 class="product-price">300</h4>
            </div>
            <div class="btn btn-primary" id="new-product">Add New Product</div>
        </form>
    </div>
</div>
</body>
</html>