<% include common/header.ejs %>

<div class="container main-container">
    <div class="row tech-label">
        <h3>All Products</h3>
    </div>
    <div class="row" id="product-list">
    </div>
</div>

<div id="cart-panel">
    <div id="cart-name-row">
        <span>Your Order List</span>
        <div class="btn btn-danger" id="close-cart">X</div>
    </div>
    <div id="cart-products-list"></div>
    <div id="confirm-order-row">
        <div id="confirm-order" class="btn">checkout</div>
    </div>
</div>

<div id="login-panel">
    <div class="btn btn-danger" id="close-login">X</div>
    <form>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="btn btn-primary" id="login">Login</div>
        <div class="btn btn-primary" id="register">Registration</div>
    </form>
</div>

<div id="register-panel">
    <div class="btn btn-danger" id="close-register">X</div>
    <form>
        <div class="form-group">
            <label for="client-name">Name</label>
            <input type="text" class="form-control" id="client-name" placeholder="Enter your name ">
        </div>
        <div class="form-group">
            <label for="client-phone">Phone Number</label>
            <input type="text" class="form-control" id="client-phone" placeholder="Enter your phone number">
        </div>
        <div class="form-group">
            <label for="client-email">Email address</label>
            <input type="email" class="form-control" id="client-email" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="client-password">Password</label>
            <input type="text" class="form-control" id="client-password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="client-city">City</label>
            <input type="text" class="form-control" id="client-city" placeholder="Enter your city">
        </div>
        <div class="form-group">
            <label for="client-zip">Zip Code</label>
            <input type="text" class="form-control" id="client-zip" placeholder="Enter your zip code">
        </div>
        <div class="form-group">
            <label for="client-street">Street</label>
            <input type="text" class="form-control" id="client-street" placeholder="Enter your street">
        </div>
        <div class="form-group">
            <label for="client-house-num">House Number</label>
            <input type="text" class="form-control" id="client-house-num" placeholder="Enter your house number">
        </div>
        <div class="form-group">
            <label for="client-entrance">Entrance Number</label>
            <input type="text" class="form-control" id="client-entrance" placeholder="Enter your entrance number">
        </div>
        <div class="form-group">
            <label for="client-apt-number">Apt Number</label>
            <input type="text" class="form-control" id="client-apt-number" placeholder="Enter your apt number">
        </div>
        <div class="btn btn-primary" id="create-user">Create User</div>
    </form>
</div>

<div id="filters-panel">
    
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="assets/js/customer.js"></script>
</body>
</html>