<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!--<link rel="stylesheet/less" type="text/css" href="main.less" />-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline">
                <button class="btn" type="button">Main/Product List</button>
                <button class="btn" type="button">Create Order</button>
                <button class="btn" type="button">My Orders History</button>
                <button class="btn" type="button">Create Report</button>
            </form>
        </nav>
    </div>
    <div class="row">
        <div class="order-card col-md-3">
            <div class="customer-name">Lana Del Fi</div>
            <div class="order-id">Df675d1</div>
            <div class="order-list">
                <div class="one-list-item">
                    <span class="item-name">Meizu</span>
                    <span class="item-model">Pro 6</span>
                    <span class="item-price">500</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>