<div class="product-in-cart row">
    <div class="cart-img col-xs-3">
        <img src="assets/images/iphonex.jpg">
    </div>
    <div class="col-xs-6">
        <div class="cart-name"><%= name%></div>
        <div class="cart-product-price"><%= sale_price%></div>
        <span class="uah">UAH</span>
    </div>
    <div class="col-xs-3">
        <span class="cart-item-quantity">0</span>
        <div class="btn delete-from-cart">delete</div>
    </div>
</div>